<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-S2C4DB8\HOANGKIMTUAN;Initial Catalog=QUANLYDIAOC;Integrated Security=SSPI;"
        providerName="System.Data.sqlclient" />
    <add name="QuanLyDiaOc.Properties.Settings.QUANLYDIAOCConnectionString"
        connectionString="Data Source=DESKTOP-S2C4DB8\HOANGKIMTUAN;Initial Catalog=QUANLYDIAOC;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>