<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="con" connectionString="Server=tcp:quanlydiaoc.database.windows.net,1433;Initial Catalog=quanlydiaoc;Persist Security Info=False;User ID='tahitu';Password='14520288Mh';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="QuanLyDiaOc.Properties.Settings.QUANLYDIAOCConnectionString"
        connectionString="Server=tcp:quanlydiaoc.database.windows.net,1433;Initial Catalog=quanlydiaoc;Persist Security Info=False;User ID='tahitu';Password='14520288Mh';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>